body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    margin-left: 80px;
	margin-right: 160px;
}

h1 {
    font-family: "Droid Serif", Georgia, Times, serif;
    font-size: 49px;
    border-bottom: 2px solid #DDDDDD;
    margin-bottom: 30px;
}

#content {
    font-size: 19px;
    line-height: 28px;
    text-align: justify;
}

#references {
    color: #888888;
    font-size: 12px;
    margin-top: 30px;
    border-top: 2px solid #DDDDDD;
}

#links {
    top: 100px;
    right: 0px;
    position: fixed;
}

#links a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 10px;
    margin: 5px 0px;
    width: 120px;
    display: block;
}

#links a.next {
    background-color: red;
    color: white;
}

#links a.previous {
    background-color: green;
    color: white;
}
