body {
    margin-left: 15%;
	margin-right: 15%;
}

h1 {
    font-family: "Droid Serif", Georgia, Times, serif;
    font-size: 49px;
    border-bottom: 2px solid #DDDDDD;
}
 
#content {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 28px;
    text-align: justify;
}